<script lang="ts">
import Vue from 'vue';
import { SlpColumn, SlpRow, SlpContainer } from '../common/index.vue';
import ChevronLg from '~/static/nuxt-images/ico/chevron-lg.vue';

export default Vue.extend({
  name: 'DevOpsLifeCycle',
  components: {
    ChevronLg,
    SlpContainer,
    SlpRow,
    SlpColumn,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      activeSlide: 0,
      slides: this.data.stages,
    };
  },
  mounted() {
    this.setActiveSlide(2);
  },
  methods: {
    setActiveSlide(slideIndex, event) {
      this.activeSlide = slideIndex;

      if (event) {
        this.moveSlider(event);
      } else {
        this.$refs[`stage${slideIndex}`][0].click();
      }
    },
    moveSlider(event) {
      // move the slider", essentially just change the width of the brighter bar.
      const stageNameWidth = event.currentTarget.offsetWidth;
      const distanceFromLeft = event.currentTarget.offsetLeft;

      this.$refs.timelineBar.style.width = `${
        distanceFromLeft + stageNameWidth / 2
      }px`;
      this.$refs.timelineDot.style.left = `${
        distanceFromLeft + stageNameWidth / 2
      }px`;
    },
  },
});
</script>

<template>
  <div class="lifecycle">
    <SlpContainer>
      <SlpTypography
        class="slp-mb-8 devops-header"
        variant="heading2-bold"
        tag="h2"
      >
        {{ data.title }}
      </SlpTypography>
      <SlpTypography
        class="slp-mb-24 devops-subheader"
        variant="heading5"
        tag="p"
      >
        {{ data.tagline }}
      </SlpTypography>
      <SlpRow class="slp-my-64">
        <SlpColumn
          :cols="6"
          class="devops-content"
          :data-ga-carousel="slides[activeSlide].ga_carousel_value"
        >
          <img
            v-if="slides[activeSlide].icon"
            class="devops_icon slp-mb-16"
            :src="slides[activeSlide].icon"
            :alt="slides[activeSlide].title + ' icon'"
          />
          <SlpTypography class="slp-mb-16" variant="heading3-bold" tag="h3">
            {{ slides[activeSlide].title }}
          </SlpTypography>
          <SlpTypography
            class="slp-mb-16"
            variant="heading4"
            tag="p"
            v-html="slides[activeSlide].tagline"
          >
          </SlpTypography>
          <SlpTypography class="slp-mb-32" variant="body2" tag="p">
            {{ slides[activeSlide].description }}
          </SlpTypography>
          <SlpButton
            :href="slides[activeSlide].link.url"
            class="learn-more"
            variant="ghost"
            :data-ga-name="slides[activeSlide].link.ga_name"
            data-ga-location="devops lifecycle"
          >
            {{ slides[activeSlide].link.text }}
            <ChevronLg fill="#fff" class="learn-more__icon" direction="right" />
          </SlpButton>
        </SlpColumn>
        <SlpColumn :cols="6">
          <img
            class="image"
            :src="slides[activeSlide].image"
            :alt="slides[activeSlide].alt"
          />
        </SlpColumn>
      </SlpRow>
      <SlpRow>
        <SlpColumn
          class="slp-flex slp-align-items-center slp-justify-content-between timeline-container"
        >
          <div class="timeline-bar-container">
            <div class="timeline-bar-background"></div>
            <div ref="timelineBar" class="timeline-bar"></div>
            <span ref="timelineDot" class="timeline-dot"></span>
          </div>
          <div class="timeline-stages">
            <span
              v-for="(slide, index) in slides"
              :key="slide.title"
              :ref="`stage${index}`"
              class="timeline-stage"
              @click="setActiveSlide(index, $event)"
            >
              {{ slide.title }}
            </span>
          </div>
          <div class="timeline-controls">
            <SlpButton
              class="slp-mr-24"
              variant="icon"
              aria-label="Previous"
              :disabled="activeSlide == 0"
              @click.native="setActiveSlide(activeSlide - 1)"
            >
              <ChevronLg fill="#fff" direction="left" />
            </SlpButton>
            <SlpButton
              variant="icon"
              aria-label="Next"
              :disabled="activeSlide == slides.length - 1"
              @click.native="setActiveSlide(activeSlide + 1)"
            >
              <ChevronLg fill="#fff" direction="right" />
            </SlpButton>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.lifecycle {
  padding-top: $spacing-96;
  padding-bottom: $spacing-96;
  color: $color-text-50;
  background-color: $color-surface-700;
  display: flex;
  align-items: center;
  justify-content: center;

  & ::v-deep p a {
    color: $color-text-50;
    text-decoration: underline;
  }
  .image {
    height: auto;
    width: 100%;
    margin: $spacing-24 0;

    @media (min-width: $breakpoint-sm) {
      padding-right: $spacing-160;
    }

    @media (min-width: $breakpoint-md) {
      margin: 0 0 $spacing-24 0;
      padding-right: 0;
      max-width: 550px;
      width: 100%;
    }
  }

  .learn-more {
    color: $color-text-50;
    padding-left: 0;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: transparent;
    transition: all 0.3s ease-in-out;

    &__icon {
      margin-left: $spacing-4;
      transition: transform 0.3s ease-in-out;
    }

    &:hover,
    &:active {
      text-decoration-color: $color-text-50;

      .learn-more__icon {
        transform: translateX($spacing-8);
      }
    }
  }

  .timeline-bar-background {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #35296b;
    top: calc(-24px + (13px / 2 - 2px));
  }

  .timeline-bar {
    position: absolute;
    height: 4px;
    width: 0px;
    background: linear-gradient(90deg, #ef8cf3 0%, #825ee9 100%);
    top: calc(-24px + (13px / 2 - 2px));
  }

  .timeline-dot {
    position: absolute;
    left: calc(50% - (13px / 2));
    top: -24px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ef8cf3 0%, #835fea 100%);
  }

  .timeline-stage {
    &:hover {
      cursor: pointer;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }

  .devops_icon {
    width: 24px;
    height: 24px;
  }

  .devops-header {
    padding: $spacing-64 0 0 0;
    @media (min-width: $breakpoint-md) {
      padding: 0;
    }
  }

  .devops-subheader {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
  .devops-content {
    @media (min-width: $breakpoint-md) {
      padding-right: $spacing-96;
    }

    @media (min-width: 850px) {
      padding-right: $spacing-160;
    }
  }

  .timeline-container {
    position: relative;
  }

  .timeline-controls {
    bottom: $spacing-16;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: $spacing-96;
    @media (min-width: $breakpoint-md) {
      bottom: $spacing-64;
      left: auto;
      right: -$spacing-16;
      transform: translate(0);
    }
    @media (min-width: $breakpoint-lg) {
      bottom: 0;
      margin-left: $spacing-24;
      position: relative;
      right: 0;
    }
  }

  .timeline-stages {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 0 auto 0 0;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  .timeline-bar-container {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
</style>
