<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'NextStep',
  props: {
    variant: {
      type: Number,
      required: false,
      default: 1,
    },
  },
  data() {
    return {
      content: [],
    };
  },
  async fetch() {
    const content = (await this.$content('next-step').fetch()) as any;
    this.content = content;
  },
});
</script>

<template>
  <SlpContainer class="slp-my-96">
    <SlpRow v-if="variant === 1" class="w-100 prevent-overflow">
      <SlpColumn
        :cols="6"
        size="lg"
        data-aos="fade-right"
        data-aos-duration="800"
      >
        <SlpTypography
          class="slp-mb-16 slp-pr-72"
          variant="heading2-bold"
          tag="h2"
        >
          {{ content.two_column.free_trial.heading }}
        </SlpTypography>
        <SlpTypography class="slp-mb-24" variant="heading4" tag="p">
          {{ content.two_column.free_trial.tagline }}
        </SlpTypography>
        <SlpButton
          :href="content.two_column.free_trial.button.link"
          :data-ga-name="content.two_column.free_trial.button.data_ga_name"
          :data-ga-location="
            content.two_column.free_trial.button.data_ga_location
          "
          :aria-label="`${content.two_column.free_trial.button.data_ga_location} ${content.two_column.free_trial.button.data_ga_name}`"
          variant="primary"
          >{{ content.two_column.free_trial.button.text }}</SlpButton
        >
      </SlpColumn>
      <SlpColumn
        class="slp-mt-64-sm"
        :cols="6"
        size="lg"
        data-aos="fade-left"
        data-aos-duration="800"
      >
        <div class="slp-flex w-100">
          <div class="vertical-line" />
          <div class="right-column w-100">
            <img
              class="right-column_image slp-mb-16"
              :src="content.two_column.talk_expert.image"
              :alt="content.two_column.talk_expert.alt"
            />
            <SlpTypography class="slp-mb-24" variant="heading4" tag="p">
              {{ content.two_column.talk_expert.tagline }}
            </SlpTypography>
            <SlpButton
              :href="content.two_column.talk_expert.button.link"
              :data-ga-name="content.two_column.talk_expert.button.data_ga_name"
              :data-ga-location="
                content.two_column.talk_expert.button.data_ga_location
              "
              variant="secondary"
            >
              {{ content.two_column.talk_expert.button.text }}</SlpButton
            >
          </div>
        </div>
      </SlpColumn>
    </SlpRow>
    <SlpRow v-else>
      <SlpColumn :cols="4"> </SlpColumn>
      <SlpColumn :cols="4"> </SlpColumn>
      <SlpColumn :cols="4"> </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.w-100 {
  width: 100%;
  overflow-x: hidden;
}

.slp-btn {
  @media (max-width: $breakpoint-lg) {
    width: 100%;
    justify-content: center;
  }
}

.slp-mt-64-sm {
  @media (max-width: $breakpoint-lg) {
    margin-top: $spacing-64;
  }
}

.vertical-line {
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: block;
    border-left: 2px solid $color-surface-500;
    margin-right: 96px;
    margin-left: 96px;
  }
}

.right-column {
  display: flex;
  flex-direction: column;

  &_image {
    max-width: 210px;

    @media (max-width: $breakpoint-lg) {
      align-self: center;
    }
  }

  .slp-btn {
    @media (min-width: $breakpoint-lg) {
      width: fit-content;
    }
  }
}
</style>
