<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SlpRow',
});
</script>

<template>
  <div class="slp-row">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.#{$prefix}-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
</style>
