<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import {
  SlpContainer,
  CTA as CallToAction,
  FeaturedMedia,
  CopyMedia,
  Copy,
} from '../../components/common/index';
import {
  SdlRelatedCard,
  SdlCta,
} from '../../components/stages-devops-lifecycle/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    SdlCta,
    SdlRelatedCard,
    Copy,
    CopyMedia,
    FeaturedMedia,
    SlpContainer,
    CallToAction,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const doc = await $content(
        `stages-devops-lifecycle/${params.slug ? params.slug : 'index'}`,
      ).fetch();
      return { doc };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in doc.components"
      :key="component.name"
      :data="component.data"
    />
  </SlpContainer>
</template>
