<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  NextStep as FeaturesCTA,
  SideNavigation,
} from '../../components/common/index';
import {
  FeatureOverview,
  FeatureBenefit,
  FeatureBlockSummary,
  FeatureBlockHero,
  FeatureGetStarted,
  FeatureValueProposition,
  FeaturesBlockRelated as FeatureBlockRelated,
} from '../../components/features/index';
import { SolutionsResourceCards } from '../../components/solutions/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    FeaturesCTA,
    SideNavigation,
    FeatureBlockHero,
    FeatureOverview,
    FeatureBenefit,
    FeatureBlockSummary,
    FeatureGetStarted,
    FeatureValueProposition,
    FeatureBlockRelated,
    SolutionsResourceCards,
  },
  async asyncData({ $content, params }) {
    return {
      feature: await $content('features', params.slug)
        .where({ slug: { $not: { $contains: ['features-partial'] } } })
        .fetch(),
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).feature, this.$route.path);
  },
  computed: {
    showFeatures() {
      const components = Object.keys(this.feature)
        .slice(1, -5)
        .reduce((result, key) => {
          // eslint-disable-next-line no-param-reassign
          result[key] = this.feature[key];
          return result;
        }, {});
      return components;
    },
  },
});
</script>

<template>
  <div>
    <component
      :is="index"
      v-for="(component, index) in showFeatures"
      :key="index"
      v-bind="component"
    >
      <slot v-if="component.component_slot_enabled">
        <component
          :is="item"
          v-for="(subcomponent, item) in component.slot_content.data"
          :key="item"
          v-bind="subcomponent"
        />
      </slot>
    </component>
    <FeaturesCTA />
  </div>
</template>
