<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import {
  CTA as CallToAction,
  SlpContainer,
  SlpRow,
  SlpColumn,
  Table as SlpTable,
  CopyMedia,
  Copy,
  CopyResources,
  SlpBlockquote,
  FeaturedMedia,
  FreeTrialCTA,
} from '../../../components/common/index';
import {
  CopyMediaCard,
  CompanyCopyCard as CopyCard,
} from '../../../components/company/index';
import {
  TopicsCards,
  BenefitsIcons,
  TopicsHeader,
  TopicsCta,
} from '../../../components/topics/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    Copy,
    CopyResources,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    TopicsCta,
    SlpBlockquote,
    SlpContainer,
    SlpRow,
    SlpColumn,
    BenefitsIcons,
    TopicsHeader,
    FeaturedMedia,
    SlpTable,
    FreeTrialCTA,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const childtopic = await $content(
        `topics/devops/${params.childtopic ? params.childtopic : 'index'}`,
      ).fetch();
      return { childtopic };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).childtopic, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in childtopic.components"
      :key="component.name"
      :data="component.data"
    />
    <FreeTrialCTA variant="image" type="pricing" />
  </SlpContainer>
</template>
