<script lang="ts">
import Vue from 'vue';
import { SlpRow, SlpColumn } from '../common/index.vue';

export default Vue.extend({
  name: 'FeaturesProductsCategoryCards',
  components: { SlpColumn, SlpRow },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="slp-mb-96">
    <SlpRow>
      <SlpColumn
        v-for="(productCategory, index) in data.products"
        :key="`${productCategory.title}-${index}`"
        :cols="data.column_size"
        class="slp-mb-16"
      >
        <client-only>
          <a
            class="features-product-category"
            :href="productCategory.link ? productCategory.link.href : null"
            :data-ga-name="
              productCategory.link ? productCategory.link.data_ga_name : null
            "
            :data-ga-location="
              productCategory.link
                ? productCategory.link.data_ga_location
                : null
            "
          >
            <div
              class="slp-card features-product-category__content"
              :class="{
                'features-product-category__content--opacity':
                  productCategory.with_opacity,
              }"
              :data-aos="productCategory.aos_animation"
              :data-aos-duration="productCategory.aos_duration"
              :data-aos-offset="productCategory.aos_offset"
            >
              <SlpTypography
                tag="h5"
                variant="all-caps"
                class="features-product-category__category slp-mb-32"
              >
                {{ data.header }}
              </SlpTypography>
              <SlpTypography tag="h4" variant="body2-bold" class="slp-mb-16">{{
                productCategory.title
              }}</SlpTypography>
              <div
                class="slp-text-body-1"
                v-html="$md.render(productCategory.text)"
              ></div>
            </div>
          </a>
        </client-only>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<style scoped lang="scss">
.features-product-category {
  color: inherit;

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.5s ease-in-out;

    &:hover {
      border-bottom-right-radius: 100px;
      box-shadow: 0 16px 64px rgba(119, 89, 194, 0.25);
      border-color: $color-surface-900;
    }

    @media (min-width: $breakpoint-md) {
      margin: $spacing-8;
    }

    &--opacity {
      opacity: 0.4 !important;
    }
  }
}
</style>
