<script lang="ts">
import Vue from 'vue';
import { SlpColumn, SlpRow, SlpContainer } from '../../common/index.vue';

export default Vue.extend({
  name: 'ByIndustryIntro',
  components: { SlpColumn, SlpRow, SlpContainer },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="solutions-intro">
    <SlpContainer>
      <SlpRow class="solutions-intro__container">
        <a
          v-for="(logo, index) in data.logos"
          :key="`${logo.name}-${index}`"
          class="solutions-intro__link"
          :href="logo.url"
          :data-aos="logo.aos_animation"
          :data-aos-duration="logo.aos_duration"
        >
          <img :src="logo.image" :alt="logo.name" />
        </a>
      </SlpRow>
      <SlpColumn />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.solutions-intro {
  padding-bottom: $spacing-48;

  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    @media (max-width: $breakpoint-md) {
      flex-wrap: wrap;
    }
  }

  &__link {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    img {
      height: 45px;
      max-width: 130px;

      @media (max-width: $breakpoint-md) {
        width: 100px;
        margin: $spacing-24 $spacing-8;
      }
    }
  }
}
</style>
