<script lang="ts">
/* eslint-disable babel/camelcase */
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { SlpContainer, FreeTrialCTA } from '../components/common/index';
import {
  HeaderTab,
  HeaderTabContent,
  CustomersCarousel as Carousel,
  BlogCard,
  FilterWrapper,
  TempCustomersPullQuote,
  CalloutBox,
} from '../components/customers/index';
import { getPageMetadata } from '~/common/meta';

interface CaseStudy {
  date_added: string;
  title: string;
  url: string;
}

interface CarouselData {
  title: string;
  studies: CaseStudy[];
}

export default Vue.extend({
  components: {
    SlpContainer,
    HeaderTab,
    HeaderTabContent,
    FreeTrialCTA,
    Carousel,
    BlogCard,
    FilterWrapper,
    CalloutBox,
    TempCustomersPullQuote,
  },
  async asyncData({ $content }) {
    const data = await $content('customers').fetch();
    return { data };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
  computed: {
    carouselData(): CarouselData {
      const { data } = this as any;
      const { case_studies, featured_studies_title } = data;

      const sortedCaseStudies = case_studies.sort(
        (a: CaseStudy, b: CaseStudy) => {
          const dateA = new Date(a.date_added);
          const dateB = new Date(b.date_added);
          return dateB.getTime() - dateA.getTime();
        },
      );

      const featuredStudies = sortedCaseStudies.slice(0, 9);

      return {
        title: featured_studies_title,
        studies: featuredStudies,
      };
    },
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <HeaderTab :customers="data.customers">
        <HeaderTabContent
          v-for="customer in data.customers"
          :key="customer.name"
          :customer="customer"
        />
      </HeaderTab>
    </SlpContainer>
    <section class="featured-studies">
      <SlpContainer>
        <Carousel :data="carouselData" />
      </SlpContainer>
    </section>
    <SlpContainer>
      <section class="browse-studies">
        <SlpTypography tag="h2" variant="heading2"
          >Browse all customer case studies
        </SlpTypography>
        <FilterWrapper :data="data.case_studies" />
      </section>
      <section class="pullquotes">
        <!-- This will most likely migrate to a seprate component when content is received -->
        <div class="text-container">
          <img
            class="logo"
            src="/nuxt-images/logos/logo_siemens_color.svg"
            alt="Siemens logo"
          />
          <SlpTypography tag="h3" variant="heading3"
            >How Siemens created an open source DevOps culture with GitLab
          </SlpTypography>
          <SlpButton
            class="desktop-btn"
            variant="primary"
            href="/customers/siemens/"
          >
            Read Case Study
          </SlpButton>
        </div>
        <TempCustomersPullQuote
          class="pullquote"
          :data="data.pullquotes.data"
        />
        <SlpButton
          class="mobile-btn"
          variant="primary"
          href="https://www.google.com"
        >
          Read Case Study
        </SlpButton>
      </section>
      <SlpHorizontalRule />
      <section class="blog-cards">
        <SlpTypography tag="h2" variant="heading2"
          >Browse customer case studies on the GitLab Blog
        </SlpTypography>
        <div class="card-wrapper">
          <BlogCard
            v-for="blog in data.blog_cards"
            :key="blog.title"
            :data="blog"
          />
        </div>
      </section>
      <section>
        <CalloutBox :data="data.callout_box" />
      </section>
      <FreeTrialCTA variant="image" />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.featured-studies {
  margin-top: $spacing-48;
  padding-top: $spacing-96;
  background-image: linear-gradient(
    180deg,
    $color-surface-100 0 85%,
    $color-surface-50 85% 100%
  );
}

.browse-studies {
  margin: $spacing-64 0;
}

h2 {
  text-align: center;
}

.pullquotes {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-96;
  margin-top: $spacing-64;
  overflow-x: hidden;

  .text-container,
  .pullquote {
    width: 100%;
    padding-right: $spacing-16;
  }

  .logo {
    max-width: 150px;
    margin-bottom: $spacing-32;
  }

  h3 {
    margin-bottom: $spacing-32;
  }

  .mobile-btn {
    display: none;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .desktop-btn {
      display: none;
    }

    .mobile-btn {
      display: block;
    }
  }
}

.blog-cards {
  margin-top: $spacing-64;
}

.card-wrapper {
  margin-top: $spacing-48;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: 820px) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
</style>
