<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '../common/meta';
import {
  SlpContainer,
  NextStep,
  MrktoForm,
  CopyMedia,
} from '../components/common/index';
import { FifteenCountdown, FifteenHero } from '../components/fifteen/index';

export default Vue.extend({
  name: 'Fifteen',
  components: {
    FifteenHero,
    MrktoForm,
    NextStep,
    SlpContainer,
    CopyMedia,
    FifteenCountdown,
  },
  async asyncData({ $content }) {
    const page = await $content('fifteen').fetch();
    return { page };
  },
  head() {
    return getPageMetadata((this as any).page, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <section>
    <FifteenHero :data="page.hero_image_block" />
    <SlpContainer>
      <MrktoForm :data="page.register_form_block" />
    </SlpContainer>
    <SlpContainer>
      <CopyMedia :data="page.contribute_block" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <FifteenCountdown :data="page.countdown_block" />
    </SlpContainer>
    <SlpContainer>
      <NextStep />
    </SlpContainer>
  </section>
</template>
