<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ImageCard',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <section class="slp-mb-64">
    <div
      v-for="block in data.block"
      :key="block.header"
      class="image-card slp-card"
    >
      <img
        class="image-card__media"
        :src="block.image_url"
        :alt="block.image_alt"
      />
      <div class="slp-pl-32">
        <SlpTypography tag="h3" variant="heading4" class="slp-mb-8">{{
          block.header
        }}</SlpTypography>
        <div v-html="$md.render(block.text)"></div>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.image-card {
  display: flex;
  margin: 15px;
  flex-direction: column;
  align-items: center;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }

  &--right {
    flex-direction: row-reverse;
  }

  &__media {
    width: 130px;
    height: 130px;
    margin-bottom: $spacing-16;
  }
}
</style>
